<!DOCTYPE html lang="en-us">
<html>
    {% include '/components/head.html.twig' %}
    <body>
        {% include '/components/header.html.twig' %}
        <div class="home-content" id="main">
            <h1>Profit Calculator</h1>
            <h3>Here's what your profit margins and data looks like! Hopefully this provided you with greater insight about your products and profits. Thanks for visiting!</h3>
            <div>
                {{dump(product_table)}}
            </div>
        </div>
        {% include '/components/footer.html.twig' %}
    </body>
</html>