html {
    background-color: #FEF3DB;
}

body {
    margin: 0;
}

/* Header Styling */
.header-global {
    position: static;
    top: 1rem;
    background-color: #EA6464;
    left: 0;
    width: 100%;
    z-index: 5000;
    font-family: 'Dancing Script', cursive;
}
.header-global h1 {
    text-align: center;
    margin: 0;
    padding: 5px;
}
.header-global a {
    color: #fff;
    text-decoration: none;
}
.header-global a:active, .header-global a:hover {
    color: #63554D;
}

/* Content Styling */
.home-content {
    display: block;
    font-family: 'Roboto', sans-serif;
    min-height: 80vh;
    max-width: 100vw;
    overflow: hidden;
    left: 0;
    padding: 0 20px;
}

.home-content h1 {
    font-family: 'Dancing Script', cursive;
}
.home-content h4 {
    color: red;
    font-weight: bold;
}
.home-content button {
    padding: 10px;
    border: #EA6464 solid 1px;
}
.home-content button:hover {
    background-color: #EA6464;
    color: #fff;
}
.home-content button, .home-content input {
    background-color: #fff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
.home-content table {
    margin: 0 auto;
    border-collapse: collapse;
}
.home-content table, th, td {
    border: solid 2px #63554D;
}
.home-content tr {
    font-weight: bold;
    font-size: 1.5rem;
    min-width: 80px;
}
.home-content td {
    background-color: rgba(0,0,0,0.2);
}
.home-content th {
    font-family: 'Dancing Script', cursive;
    padding: 5px 20px;
    background-color: #cc9585;
}
.home-content td {
    font-family: 'Roboto', sans-serif;
    min-width: 80px;
    text-align: center;
    font-weight: normal;
    font-size: 1.2rem;
    padding: 5px 20px;
}
.home-content td:first-of-type {
    text-align: left;
}
.home-content td.positive {
    color: #138835;
    background-color: #86cea6;
}
.home-content td.negative {
    color: #F74634;
    background-color: #eab1b1;
}
.home-content td.totals {
    color: #fff;
    background-color: #79a4da;
}

/* Footer Styling */
.footer-global {
    padding: 3rem 0 4rem;
    text-align: center;
    width: 100%;
    float: left;
    position: relative;
    display: block;
    font-family: 'Roboto', sans-serif;
}